body{
    margin-top: 50px;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    color: hsl(229, 6%, 66%);
    background-image: url(../images/);
}


h1{
    font-weight: 200;
    color: black;
    font-size: 40px;
    text-align: center;
    
}

h2{
    color: hsl(234, 12%, 34%);
    font-size: 40px;
    text-align: center;
}

h3 {
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.lista li{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.container .supervisor{
    margin-top: 200px;
    width: 370px;
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px -4px cyan, 3px 3px 15px hsl(229, 6%, 66%), -3px 0px 15px hsl(229, 6%, 66%); 
    border-radius: 1.6%;
}

.supervisor img{
    padding-top: 50px;
    padding-left: 230px;
    width: 70px;
    
}

.supervisor h1{
    padding-top: 15px;
    padding-bottom: 8px;
    padding-left: 30px;
    font-weight: bolder;
    color: hsl(234, 12%, 34%);
    text-align: left;
    font-size: 21px;

}

.supervisor p{
    font-size: small;
    text-align: left;
    padding-left: 30px;
}


.container .team-builder{
    width: 370px;
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px -4px red, 3px 3px 15px hsl(229, 6%, 66%), -3px 0px 15px hsl(229, 6%, 66%); 
    border-radius: 1.6%;
}

.team-builder img{
    padding-top: 50px;
    padding-left: 230px;
    width: 70px;
}

.team-builder h1{
    padding-top: 15px;
    padding-bottom: 8px;
    padding-left: 30px;
    font-weight: bolder;
    color: hsl(234, 12%, 34%);
    text-align: left;
    font-size: 21px;
}

.team-builder p{
    font-size: small;
    text-align: left;
    padding-left: 30px;
}

.container .karma{
    width: 370px;
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px -4px orange, 3px 3px 15px hsl(229, 6%, 66%), -3px 0px 15px hsl(229, 6%, 66%); 
    border-radius: 1.6%;
}

.karma img{
    padding-top: 50px;
    padding-left: 230px;
    width: 70px;
}

.karma p{
    font-size: small;
    text-align: left;
    padding-left: 30px;
}

.karma h1{
    padding-top: 15px;
    padding-bottom: 8px;
    padding-left: 30px;
    font-weight: bolder;
    color: hsl(234, 12%, 34%);
    text-align: left;
    font-size: 21px;
}


.container .calculator{
    margin-top: 200px;
    width: 370px;
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px -4px blue, 3px 3px 15px hsl(229, 6%, 66%), -3px 0px 15px hsl(229, 6%, 66%); 
    border-radius: 1.6%;
}

.calculator img{
    padding-top: 50px;
    padding-left: 230px;
    width: 70px;
}

.calculator p{
    font-size: small;
    text-align: left;
    padding-left: 30px;
}

.calculator h1{
    padding-top: 15px;
    padding-bottom: 8px;
    padding-left: 30px;
    font-weight: bolder;
    color: hsl(234, 12%, 34%);
    text-align: left;
    font-size: 21px;
}


.footer .creditos { 
    font-size: 15px; text-align: center;
    padding-top: 80px;
}


.footer .creditos a {
        color: hsl(228, 45%, 44%); 
        text-decoration: none;
}